ALLOWED_ORIGINS=localhost:3002,localhost:3000

AWS_ACCESS_KEY_ID=changeme
AWS_S3_ACTIVE_STORAGE_BUCKET=changeme
AWS_S3_REGION=changeme
AWS_SECRET_ACCESS_KEY=changeme

GITHUB_WEBHOOK_SECRET=test_token

POSTGRES_HOST=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

HYDRA_ADMIN_URL=http://host.docker.internal:9002
HYDRA_ADMIN_API_KEY=test-key

SMEE_TUNNEL=https://smee.io/MLq0n9kvAes2vydX

# Add the below to bypass token authentication with hyrdra, setting a specific
# user ID if needed.
# BYPASS_AUTH=yes
# BYPASS_AUTH_USER_ID=b6301f34-b970-4d4f-8314-f877bad8b150
