<% if current_user %>
    <form action="<%= rpi_auth_logout_path %>">
        <input type="submit" value="Logout">
    </form>
<% else %>
    <%= button_to "Log in", rpi_auth_login_path, params: { returnTo: '/admin' } %>
<% end %>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
