<%#
Administrate field partial for ResultsSummaryField in index view
%>
<span style="color: green; font-weight: bold;"><%= field.successful_count %> ✓</span>
/
<span style="color: red; font-weight: bold;"><%= field.failed_count %> ✗</span>
